.sub-container{
    position: absolute;
    margin-top: 30px;
    margin-left: 300px;
}

.sub-header h3{
    font-size: 24px;
}

.sub-header{
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

.sub-container button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(30 30 30);
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.sub-container button:hover{
    background-color: rgb(55 55 55);    
}

.status{
    margin: 30px 0; 
    display: flex;
    gap: 50px;
}

.status-card{
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 10%);
}

.inside-1, .inside-2{
    display: flex;
    justify-content: space-between;
}

.inside-2{
    align-items: center;
}

.inside-1 span{
    color: rgb(70 70 70);
}

.inside-1 {
    color: rgb(216 1 1);
}

.inside-1 h3, .inside-2 h4{
    font-size: 25px;
    margin: 5px 0;
    font-weight: 600;
}

.inside-2 span{
    color: rgb(216 1 1);
    font-size: 25px;
    font-weight: 600;
}

.inside-2 div{
    margin-top: 5px;
}

.card-img img{
    width: 80px;
}

.card-img{
    display: flex;
    align-items: center;
    gap: 30px;
}

.card-img h3{
    text-transform: uppercase;
    font-size: 25px;
}


.overall-sub-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 0;

}

.sub-card{
    background-color: white;
    box-shadow: 1px 1px 30px 0 rgb(0 0 0 / 10%);
    gap: 10px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    bottom: 0;
}

.card-content p{
    font-weight: 500;

}

.card-content i{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.card-content i:hover{
    transform: scaleX(1.4);
}