@import url('./_mobileView.css');
@import url('./_home.css');
@import url('./_add.css');
@import url('./_sideBar.css');
@import url('./_headBar.css');
@import url('./_subscription.css');
@import url('./_viewSub.css');


* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}