<div class="headbar-container"> 
    <div class="head-container">
        <div class="lables">
            {{#each this.headItems as |item|}}
            {{#if item.isSelected}}
                <p class="items" style="background-color: white;">{{item.label}}</p>
            {{else}}
                <p class="items" >{{item.label}}</p>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <button type="button">
    <LinkTo @route="addSubscription" style="text-decoration: none;color: white;">
    Add new subscription
    </LinkTo>
    </button>

</div>