<div class="t-card">
    <div>
        <h4>{{@data.name}}</h4>
        {{#if @data.subPlan}}
        <p>Plan: {{@data.subPlan}}</p>           
        {{/if}}
    </div>
    <div>
        <h4>$ {{@data.amount}}</h4>
    </div>
</div>