<div class="view-subs-container">
    <div class="view-sub-header">
        <div class="view-sub-head-text">
            <i class="fa fa-chevron-left" aria-hidden="true" {{on 'click' this.back}}></i>
            <img src={{this.imgPath}} alt="">
            <h1>{{this.subName}} Subscription</h1>
        </div>
        <button type="button">Add New Payment</button>
    </div>
</div>
